html, body {
  margin: 0;
  padding: 0;
}

.header {
  background: #1188ff;
  height: 9vh;
  width: 100vw;
  margin-bottom: 1vh;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
  background: #858687;
  height: 29vh;
  margin-bottom: 1vh;
}

@media screen and (min-width: 750px) {

  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
    width: 48vw;
    float: left;
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@media screen and (min-width: 1024px) {

  .header {
    height: 20vh;
  }

  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
    width: 32.3vw;
    float: left;
    margin: 0 0.5vw 1vh;
  }
}
